@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    
}
html{
    overflow-x: hidden;
}
 body{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    
} 
.header{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    
    

}
.header .banner{
    height: 250px;
    width: 500px;
    background-image: linear-gradient(black ,rgb(238, 128, 32));
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.banner h1{
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 3px 10px gray;
}
nav{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(46,62,74);
    position: sticky;
    top:0;
    background: linear-gradient(90deg, rgba(46,62,74,0.991567488811931) 31%, rgba(98,150,161,1) 100%);
}
.mobile-btn{
   display: none;
}
.mobile-icon{
    height: 3rem;
    width: 3rem;
    color:white;
}
.left{
    margin-left: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.left h1:hover{
    color: orange;
}
.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
}
.center ul{
    display: flex;
    gap: 50px;
}
.center ul li{
    list-style: none;
    
}
.center ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    transition: all linear 0.2s;
}
.center ul li a:hover{
    color: rgb(2, 2, 40);
}

.right{
    background: rgb(64,186,158);
background: linear-gradient(90deg, rgba(35, 77, 67, 0.992) 31%, rgb(23, 123, 143) 100%);
    padding: 10px 12px;
    border-radius: 10px;
    margin-right: 12px;
}
.right:hover{
    background: rgb(65, 99, 98);
}
.right a{
    text-decoration: none;
    color:#fff;
}
section h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.motto{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leftside{
    margin-right: 20px;
    
}
.leftside h3{
    color: rgb(20, 2, 37);
    line-height: 30px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.leftside h3:hover{
    color: cadetblue;
}
.rightside img{
    height: 200px;
    width: 500px;
    border-radius: 20px;
}
.content{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}
.one{
    width: 45%;
     background: #f0f4f6;
    height:400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.one h2,p{
    text-align: center;
    margin-bottom: 10px;
}
.one a{
    text-decoration: none;
    display: block;
    text-align: center;
}
.one img{
    width: 100%;
    height: 250px;
}
.two{
    width: 45%;
    background: #f9fcfd;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.two h2,p{
    text-align: center;
    margin-bottom: 10px;
}
.two a{
    text-decoration: none;
    display: block;
    text-align: center;
}
.two img{
    width: 100%;
    height: auto;
}
.community{
    height: 80vh;
    background-image: url("../Images/community.webp");
    background-size: 100% 100%;
    margin-top: 20px;


}
.community h2,p{
    text-align: center;
    margin-bottom: 10px;
}
.community a{
    text-decoration: none;
    display: block;
    text-align: center;
}
.plan{
    width: 100%;

    background: #f0f4f6;
    height: 500px;
    margin-top: 20px;
}
.plan p,h2{
    margin-top: 20px;
    text-align: left;
    margin-left: 10px;
}
.course-desc{
    margin-top: 80px;
    width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-bottom: 10px;
}
.course{
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s;
    padding: 30px 50px;
    background: #fff;
    cursor: pointer;
}
.course:hover{
    height: 300px;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-70px);
}
.imgbox img{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);

}
.content1{
    padding: 10px 20px;
    
    transform: translateY(-180px);
    opacity: 0;
}

.content1:hover{
    opacity: 1;
}
.price p{
    font-weight: 600;
}

.workout h3,.healthy h3,.about h3,.membership h3{
    color:white;
    position: relative;
}
.workout a:hover,.healthy a:hover,.about a:hover,.membership a:hover{
    color:orange;
}
.workout h3::after,.healthy h3::after,.about h3::after,.membership h3::after{
    content: " ";
    position: absolute;
    border-bottom: 2px solid orangered;
    height: 2px ;
    width: 30px;
    left: 0;
    top:25px;
}

footer{
    margin-top: auto;
    height:400px;
    background: #212432;
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}
.logo img{
    height: 100px;
    width: 100px;
    background-color: white;
    border: 2px solid #212432;
    border-radius: 50%;
}
.workout,.healthy,.about,.membership{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.workout a,.healthy a,.about a,.membership a{
    text-decoration: none;
    color: #fff;
    margin: 20px 0;
}
.tag{
    display: flex;
    justify-content: space-around;
    background: black;
    color: white;

}

.social a{
    color: white;
    margin-left: 10px;   
}

@media (max-width:1250px){
    .logo img{
        width: 140px;
        height: 140px;
    }
}

@media (max-width:975px){

    .header{
        height: 50vh;
        position: relative;
    }
    .course-desc{
        display: flex;
        flex-direction: column;
    
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .one{
        margin: 30px 0;
        width: 80%;
    }
    .two{
        width: 80%;
    }
    .motto{
        display: flex;
        flex-direction: column;
    }
    .leftside{
        margin: 20px 0;
    }
    .leftside p{
        font-weight: bold;
    }
    .course{
        margin-top: 10px;
        width: 60%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
        cursor: pointer;
    }
    .community{
        height: 50vh;
    
    }
    .community h2,p{
        text-align: center;
    }
    .plan{
        height: auto;
    }
    .plan h2,p{
        text-align: center;
    }

   

    .mobile-btn{
        display: block;
    }
    .mobile-icon[name="close"]{
        display: none;
    }
  
   .center{
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgb(46,62,74);
    top:0;
    left:0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 1;
    visibility: hidden;
    pointer-events: none;
   }
   .center ul{
     flex-direction: column;  
     justify-content: center;
     align-items: center;  
   }
   .active .center{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
   }
   .active .mobile-btn .mobile-icon[name="close"]{
    display: block;
   }
   
   .active .mobile-btn .mobile-icon[name="menu"]{
    display: none;
   }
  
    }


    @media (max-width:785px){
        .course{
            width: 100%;
        }
        footer{
            display: flex;
            flex-direction: column;
            height: auto;
            position: relative;
            justify-content: center;
            height: auto;
        }
        .workout a,.healthy a,.about a,.membership a{
           text-align: center;
        }
        .workout h3,.healthy h3,.about h3,.membership h3{
            text-align: center;
            color:white;
            position: relative;
         }
        
        .workout h3::after,.healthy h3::after,.about h3::after,.membership h3::after{
            content: " ";
            position: absolute;
            border-bottom: 2px solid orangered;
            height: 2px ;
            width: 50px;
            left: 48%;
            top:25px;
        }
        .course{
            margin-top: 10px;
            width: 60%;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  
            cursor: pointer;
        }

        .header .banner{
            width: 400px;
        }
        .banner h1{
            font-size: 30px;
        }
        .tag{
            display: flex;
            flex-direction: column;
        }
        .tag .social{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }
        .tag .social a{
            margin-bottom: 20px;
            color: white;
        }
       
        
    }







